# File di log e dipendenze locali
node_modules
npm-debug.log

# File di configurazione locale e segreti (FONDAMENTALE)
.env

# File di Docker, per evitare che si includano a vicenda
Dockerfile
docker-compose.yml

# Repository Git
.git
.gitignore

# Database locale (se lo tieni in locale per test)
# Lo gestiremo con un volume Docker, quindi non va incluso nell'immagine.
database/*.sqlite